@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*
{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    
}


body{
    background-color: black;
    color: white;

}
.logoo img
{
    width: 111px;
    padding: 10px 20px 0px 20px;
}
.heading img{
    width: 30px;
}
.left
{
    width: 25vw;
    padding: 10px 5px 10px 10px;}
.right
{
    width: 75vw;
    background-color: #121212;
    margin: 10px 10px 10px 5px;
    ;
    position: relative;
}

.Home ul li
{
    width: 15px;
    list-style: none;
    display: flex;
    font-weight: bolder;
    gap: 15px;
    padding: 15px 25px;
    align-items: center;

}
#leftlogo
{
    height: 25px;
}
.heading {

    display: flex;
    font-weight: bolder;
    gap: 20px;
    padding: 15px 10px;
    align-items: center;
    
}
.footer
{
    font-size: 11px;
    gap: 11px;
    display: flex;
    position: absolute;
    bottom: 0;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 100%; 
    margin: auto;
    padding: 10px;
}
.footer a{
    color: grey;
    margin-bottom: 10px; 
    text-decoration: none;
}
.library
{
    min-height: 70vh;
    position: relative;
    margin-top:  10px;
}
.button
{
    padding: 10px 20px;
    margin-left: 120vh;
    position: fixed;


}
#log
{
    margin: left 50px; 
    padding: 11px 25px ;
    border-radius: 30px;
    border: none;
    font-size: large;
    font-weight: bolder;
    font-size: 15px;
}

#signup
{
    background-color: rgb(7, 7, 7);
    color: rgb(154, 151, 151);
    font-weight: bold;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 16px;
    padding-right: 15px;
}
#signup:hover {
    font-size: 17px;
    color: white

}
.Header
{
    display: flex;
    align-items: center;
    background-color: rgb(7, 7, 7);
    border-radius:  15px 0px 0px 0px;
    justify-content: flex-end;
    
}
.Header > *
{
    padding: 35px;
}
.sexyplaylist
{
    padding: 30px 15px 5px 15px;
}
.sexyplaylist .card
{
    width: 200px;
}
.sexyplaylist h2 {
    padding: 16px;
}
.card img {
    width: 100%;
    object-fit: contain;
    
}
.card h2 {
 padding: 10px 10px 10px 0px;   
}

.card > *
{
    padding: top 10px;
}
.cardContainer
{
    margin: 30px;
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
    overflow-y: auto;
    max-height: 55vh; 
}
.card
{
    width: 200px;
    padding: 10px;
    border-radius: 5px;
    background-color: #252525;
    position: relative;
    transition: all .9s;
    justify-content: center;
}
.card:hover{
    background-color: rgb(105, 103, 103);
    cursor: pointer;
    --a: 1;
}

.play
{
    width: 30px;
    height: 30px;
    background-color: #1fdf64;
    padding: 10px;
    border-radius: 50%;
    position: absolute;
    justify-content: center;
    top: 220px;
    right: 15px;
    opacity: 0;
}
.play:hover{
    opacity: 1;
    cursor: pointer;
}

.Playbar
{
    background-color: #ff0000;
    display: flex;
    border-radius: 25px;
    width: auto;
    height: 12vh;
    margin: 92px 10px 0px 10px;
    


}
.songbutton
{
    justify-content: center;
    margin: auto;
    margin-top: 50px;
}
.songlist ul {
    padding: 0 12px;
    overflow: auto;
    height: 46vh;
}

.songlist ul li {
    background-color: #000000;
    list-style-type: decimal;
    display: flex;
    gap: 12px;
    cursor: pointer;
    border: 1px solid rgba(146, 143, 143, 0.491);
    margin: 12px 0;
    padding: 13px 10px;
    border-radius: 10px;
    font-size: 12px;
    justify-content: space-between;
}
.songlist ul li:hover
{
    background-color: #121212;
}
#dd
{
    margin: 12px;
    font-weight: bold;
}
.seekbar
{
    background: white;
    height: 2px;
    width: 80%;
    position: absolute;
    margin: 2vh 2vh 2vh 22vh;
    border-radius: 10px;
}
.circle
{
    width: 12px;
    height: 12px;
    border-radius: 12px;
    background-color: white;
    position: relative;
    left: 0%;
    transition: left 0.5s;
    margin: -5px 0 0 2px;
    display: flex;
}

